@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@font-face {
    font-family: 'Idroid';
    src: url(../fontes/idroid.otf);
    font-weight: normal;
}
/*
usar váriaveis em css pode facilitar muitas coisas
*/

:root{
    --verdeCT: hsla(147, 49%, 85%, 0.5);
    --verdeC: #c5ebd6;
    --verdeCN: #83e1ad;
    --verdeN: #3ddc84;
    --verdeNE: #2fa866;
    --verdeE: #1a5c37;
    --verdeME: #063d1e;

    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: 'Bebas Neue', cursive;
    --fonteIdroid: 'Idroid', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--verdeC);
    font-family: var(--fontePadrao);
}

header {
    background-image: linear-gradient(var(--verdeNE), var(--verdeME));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonteDestaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    font-weight: normal;
}

header > p {
    font-family: var(--fontePadrao);
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}

nav {
    background-color: var(--verdeME);
    padding: 10px;
    box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.4);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--verdeN);
    color: var(--verdeE);
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 0 0 10px 10px;

    max-width: 1000px;
    min-width: 300px;

    margin: auto;
    margin-bottom: 30px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

main h1 {
    color: var(--verdeME);
    font-family: var(--fonteIdroid);
    font-weight: normal;
}

main h2 {
    color: var(--verdeE);
    font-family: var(--fonteIdroid);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--verdeCN), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 22px;
    line-height: 2em;
    font-size: 1em;
}

main img {
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    width: 50%;
}

main strong{
    color: var(--verdeE);
    font-weight: bolder;
}

main a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--verdeME);
    background-color: var(--verdeCT);
    padding: 2px 4px;
}

main a:hover {
    text-decoration: underline;
}

div.video {
    background-color: var(--verdeME);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 92%;
    height: 92%;
}

a.externo::after {
    content: '\00A0\1F517';
}

aside {
    background-color: var(--verdeCN);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

aside > h3 {
    background-color: var(--verdeE);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
}

aside > ul {
    list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2; 
}

footer {
    background-color: var(--verdeME);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--verdeCN);
}
