* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../imagens/espaco.jpg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: max-content;
}

main {

}


img {
    margin: 25% auto 15% auto;

    display: block;
}