@charset "UTF=8";

:root {
    --corPrincipal: #F2C572;
    --cor02: #0C0D0A;
    --corSecundaria: #BFBFBF;
    --cor04:#F29C72;
    --cor05:#F2B372;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--corPrincipal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    width: 100vw;
    height: 100vh;
}

body {
    position: relative;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;

    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);

    box-sizing: border-box;

    height: 80vh;
    width: 80vw;

    background: black url(../imagens/xicaramarela.jpg) no-repeat right fixed;
    background-size: cover;
}

section {
    position: relative;
    display: inline-block;
}

section#login-web {
    position: relative;
    top: 40vh;

    box-sizing: border-box;
    height: 40vh;
    width: 80vw;

    background-color: white;

    padding: 20px;

    border-radius: 0 0 10px 10px;
    

}

section h1 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: var(--corPrincipal);
    text-shadow: 1px 1px 2px hsla(80, 13%, 5%, 0.5);
}

section p {
    text-align: center;
    padding-bottom: 20px;
}

form {
    text-align: center;
}

div.login-dados {
    background-color: var(--corPrincipal);
    display: inline-block;
    
    

    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px auto;
}

form img {
    position: relative;
    width: 20px;
    top: 4px;
    padding-right: 2px;
}

form input.dados {
    border: 2px solid white;
    line-height: 20px;
    border-radius: 5px;
    width: 60vw;
    padding: 8px;
    max-width: 520px
}

input.dados:hover {
    border-color: var(--cor04);
    transition: 0.1s;
}

.botao {
    width: 70vw;
    padding: 8px;
    border-radius: 5px;
    font-size: 1.1em;
    box-sizing: border-box;
    margin-top: 10px;
    max-width: 520px
}

.entrar {
    background-color: var(--cor04);
    border: 3px solid var(--corPrincipal);
    color: whi;
}

.entrar:hover {
    background-color: var(--cor05);
    border-color: var(--cor04);
    transition: 0.1s;
}

.semsenha {
    text-decoration: none;
    border: 3px solid var(--cor04);
    color: black;
    margin-top: 20px;
    display: block;
    margin: auto;
    position: relative;
    top: 10px;
}

.semsenha:hover {
    background-color: var(--corPrincipal);
    border-color: var(--cor04);
    transition: 0.1s;
}

