@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte01: Verdana, Arial, Helvetica, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body {
    min-height: 100%;
    background-color: bisque;
    font-family: var(--fonte01);
}

header {
    background-color: black;
    
    color: white;
    text-align: center;
}

header >h1 {
    padding-top: 50px;
    /*text-transform: uppercase; deixa tudo maiusculo*/
    font-variant: small-caps; /*deixa tudo maiusculo, porem as iniciais continuam sendo as maiores, ou seja, as minusculas tem o mesmo glifo das maiusculas, mas continuam pequenas.*/
    font-family: var(--fonte02);
    font-size: 3.5em;
}

header >p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0;
    padding-left: 30px;

    line-height: 2em;
    font-family: var(--fonte03);
    font-size: 1.2em;
}

section > p {
    
    padding: 10px;
    padding-bottom: 1.2em;
}

section.normal {
    background-color: white;
    color: black;

    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.5);
}

section.imagem {
    background-color: rgb(68, 68, 68);
    color: white;

    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.5);
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

section#img01, section#img02 {
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}



footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
}

