body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
    text-align: center;
}

iframe {
    border-width: 5px;
    border-color: white;
    border-radius: 10px;
    align-self: center;
}

#back {
   background-color: white;
   border-radius: 10px;
}
