@charset "UTF-8";

@font-face {
    font-family: 'Idroid';
    src: url('../fontes/idroid.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #96F5A1;
    margin: 0px;
}


header {
    text-align: center;
    background-color: #036322;
    
    color: white;
    padding-top: 30px;
    margin-bottom: 0px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.473);
}

header > h1 {
    font-family: 'Idroid', sans-serif;
}

header > nav {
    text-align: left;
    margin-left: 8px;
}

nav {
    padding-bottom: 10px;
}

nav > a {
    margin-right: 28px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 8px;
}

nav > a:hover {
    background-color: #037c29d5;
    border-radius: 10px;
}

main {
    background-color: white;
    margin-top: 0px;
    padding: 6px 10px 15px 10px;
    width: auto;
    max-width: 1000px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.473);
    
}

article > p {
    text-align: justify;
}

article > h1 {
    font-family: 'Idroid', sans-serif;
    color: #036322;
    font-size: 1.5em;
}

article > h3 {
    font-family: 'Idroid', sans-serif;
    color: #036322;
}

picture {
    text-align: center;
    margin: auto;
    display: block;
}
source {
    align-self: center;
    margin: auto;
}

footer {
    background-color: #036322;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 5px
}